/*
 * Estilos de tu proyecto
 */
 /*creando el menu nav*/

*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 header{
   width: 100%;
   position: fixed;
 }
.menu-nav li{
  display: inline-block;
  list-style: none:
}
 .menu-nav li img{
   width: 64px;
 }
.menu-nav li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.button-login button{
  background-color: transparent;
  text-decoration: none;
  width: 80px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 16px;
  color: white;
}
.sub-menu{
  display: inline-block;
  position: relative;
  left: 60%;
}
.sub-menu li{
  margin-right: 30px;
}
/**/
.container{
  background-image: url("../assets/images/hero.gif");
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-bottom: 0px;
}
/*crando flexbox */
.flex-box{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #352384;
  padding: 30px;
  text-transform: uppercase;
  background: white;
  width: 600px;
  height: 375px;
  position: absolute;
  right: 10px;
  top: 40%;
}
.text1 h1, h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 10px;
}
.text2{
  text-transform: none;
  font-size: 10px;
  line-height: 8px;
}

.buttons{
  margin-right: 3px;
}


.button1{
  background-color: #ff00bf;
  color: white;
  width: 185px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.button2{
  border-bottom: none;
  background-color: white;
  border: none;
  color: grey;
  font-size: 18px;
  text-decoration: underline;
}

.input-phone{
  border-width:0;
  margin-bottom: 4px;
  font-size: 16px;
}



.text2 a{
  text-decoration: none;
  color: #ff00bf;
}

/* Seccion 2 */

.box-text{
  color: white;
  padding-left: 180px;
  display: inline-block;

}

.box-text h3{
  margin-top: 0px;

}

.container2{
  background: linear-gradient(#76278f, #2B1E66);
  width: 100%;
  height: 600px;
  margin-top: 0px;
  display: inline-block;
}
.container2 img{
  width: 375px;
  margin-top: 20px;
  display: inline-block;

}

.box-img{
  float: right;
}
/*seccion 3*/
.container3{
  position: static;
  width: 100%;
  height: 550px;
}
.parrafo1{
  width: 350px;
  height: 200px;
  display: inline-block;
  /*outline: 2px solid blue;*/
  position: absolute;
  margin: 20px 50px;
  vertical-align: middle;

}
.parrafo1 h3{
  text-transform: uppercase;

}
.film1{
  position: absolute;
  right: 0;
  outline: 1px solid red;
}
/*seccion 3*/
.container4{
  position: static;
  width: 100%;
  height: 550px;
}
.parrafo2{
  width: 350px;
  height: 200px;
  display: inline-block;
  /*outline: 2px solid blue;*/
  position: absolute;
  right: 0;
  margin: 20px 40px;
}
.parrafo2 h3{
  text-transform: uppercase;
}
.film2{
  position: static;
  outline: 1px solid aqua;
}
/*seccion 3*/
.container5{
  position: static;
  width: 100%;
  height: 550px;
}
.parrafo3{
  width: 350px;
  height: 200px;
  display: inline-block;
  /*outline: 2px solid blue;*/
  position: absolute;
  margin: 20px 50px;
  vertical-align: middle;

}
.parrafo3 h3{
  text-transform: uppercase;

}
.film3{
  position: absolute;
  right: 0;
  outline: 1px solid red;
}
/****** seccion 6 pie de pagina*****/
.container6{
  width: 100%;
}
.red-social {
  background-color: #282b35;
  width: 100%;
  background-size: cover;
  height: 100px;
  padding-left: 200px;
}
.red-social .circulo{
  vertical-align: middle;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  margin: 30px auto;

}
.red-social span{
  color: white;
  font-size: 20px;
  position: relative;
  left: 34px;
  top: 5px;
}
.icon-facebook2{
  padding-left: 30%;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: grey;
  font-size: 12px;
  color: white;
}
footer p{
  font-size: 14px;
  margin-bottom: 20px;
}
